Data/catalogue_htws_MeteoFrance.csv
Data/catalogue_htws_MeteoFrance.xlsx
Data/lien_data.txt
Data/ERA5/t2m/*
Data/ERA5/wbgt/*
Data/ERA5/utci/*
Data/ERA5/wbgt_simple/*
!Data/EM-DAT/EMDAT_Europe-1950-2022-heatwaves.xlsx
!Data/EM-DAT/Lucy_Hammond_ETE_data_V2.xlsx
!Data/Dates_converter.xlsx
test.pdf
Code/Mask/*.png
Code/compute_wbgts.py
Code/dev.ipynb
Output/*
Mask/*.png
.mask_env/*
.dev_juicce/*
.cdsapi_env/*
*.mp4
ffmpeg.exe
*.png
animation_backup
docs/*
!Data/EM-DAT/EMDAT_Europe_Turkey-1975-2021-heatwaves
Data/EM-DAT/*

Data/*/*.nc