Data/catalogue_htws_MeteoFrance.csv
Data/catalogue_htws_MeteoFrance.xlsx
Data/lien_data.txt
Data/E-OBS/t2m/*
Data/ERA5/t2m/*
Data/ERA5/wbgt/*
Data/ERA5/utci/*
Data/GDIS_EM-DAT/*
!Data/GDIS_EM-DAT/EMDAT_Europe-1950-2022-heatwaves.xlsx
!Data/GDIS_EM-DAT/Lucy_Hammond_ETE_data_V2.xlsx
!Data/Dates_converter.xlsx
Data/Pop/GHSL_Data_Package_2022.pdf
Data/UNDP/*

Code/Mask/*.png
Code/CDS_API_request/
Code/Cluster_analysis/*
Code/E-OBS_use/*
Code/ERA5_use/*

Output/*
!Output/summary_detection_overlap_sensitivity.xlsx
Mask/*.png
.mask_env/*
.dev_juicce/*
idees.txt
*.mp4
ffmpeg.exe
*.png
animation_backup
docs/*

runs_needed.txt